<div class="frog-info-home" style="--xp-percent: 70;">
  <div class="frog-info-home__shell-back">
    <img src="../assets/FrogInfoHome-back.svg" alt="" aria-hidden="true">
  </div>

  <div class="frog-info-home__xp-fill">
    <div class="frog-info-home__xp-fill-bar"></div>
  </div>

  <div class="frog-info-home__shell-front">
    <img src="../assets/FrogInfoHome-front.svg" alt="" aria-hidden="true">
  </div>

  <div class="frog-info-home__avatar">
    <img src="../assets/thumbs/avatar.webp" alt="Frog avatar">
  </div>

  <span class="frog-info-home__name">Frog name ID</span>
</div>
